
@{
    ViewBag.Title = "SEHA - About";
    //Gambiarra(?)
    
    if(Session["Professor"] != null)
    {
        Layout = "~/Views/templates/templateUser/_headerUser.cshtml";
    }
    else
    {
        Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
    }

}
<!DOCTYPE html>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 disp-box">
                <div class="font2">
                    <p class="font1">SEHA</p>
                    <p>Sistema de Elaboração de Horário de Aula</p>
                    <p>Release 6.7</p>
                    <p id="f4b">F4B Solutions</p>
                    <p id="f6b" class="dnone">Facção 4 Bits</p>
                </div>

                <div class="font3">
                    <p class="font1">Students:</p>
                    <p>João Victor Durão Ignan</p>
                    <p>Thélio Marques de Almeida Freitas</p>
                    <p>Davi Augusto Leme dos Santos</p>
                    <p>Marcos Afonso Amaral Moraes</p>
                    <p id="int5" class="dnone">Alberto Angelo</p>
                    <p id="int6" class="dnone">Nossa baleia<img src="~/Assets/images/whale.svg" /></p>
                </div>

                <div class="font3">
                    <p>Orientador: Carlos Magnus Carlson Filho</p>
                    <p>Program: Análise e Desenvolvimento de Sistemas</p>
                </div>

            </div>
        </div>

    </div>
</section>