
@{
    ViewBag.Title = "SEHA - About";
    //Gambiarra(?)
    
    if(Session["Professor"] != null)
    {
        Layout = "~/Views/templates/templateUser/_headerUser.cshtml";
    }
    else
    {
        Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
    }

}
<!DOCTYPE html>

<section id="about">
    <div class="container font-seha">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 disp-box">
                <div class="font2">
                    <p style="text-align:center" class="font-seha-logo">SEHA</p>
                    <p style="text-align:center">Sistema de Elaboração de Horário de Aula</p>
                </div>

                <div style="margin-top:35px" class="font-seha-info">
                    <p class="font3">Students:</p>
                    <p>Davi Augusto Leme dos Santos</p>
                    <p>João Victor Durão Ignan</p>
                    <p>Marcos Afonso Amaral Moraes</p>
                    <p>Thélio Marques de Almeida Freitas</p>
                    <p id="int5" class="dnone">Alberto Angelo</p>
                    <p id="int6" class="dnone">Nossa baleia<img src="~/Assets/images/whale.svg" /></p>
                </div>

                <div style="margin-top:35px" class="font-seha-info">
                    <p class="font3">Advisor:</p>
                    <p>Carlos Magnus Carlson Filho</p>
                </div>

                <div style="margin-top:45px">
                    <p id="f4b">F4B Group</p>
                    <p>Release 6.7</p>
                    <p id="f6b" class="dnone">Facção 4 Bits</p>
                </div>
            </div>
        </div>

    </div>
</section>