
@{
    ViewBag.Title = "SEHA - About";
    Layout = "~/Views/templates/templateUser/_headerUser.cshtml";
}
<!DOCTYPE html>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 disp-box">
                <div class="font2">
                    <p class="font1">SEHA</p>
                    <p>Sistema de Elaboração de Horário de Aula</p>
                    <p>Versão 1.0</p>
                    <p id="f4b">F4B Solutions</p>
                    <p id="f6b" class="dnone">Facção 4 Bits</p>
                </div>

                <div class="font3">
                    <p class="font1">Integrantes:</p>
                    <p>João Ignan</p>
                    <p>Thélio Marques</p>
                    <p>Davi Augusto</p>
                    <p>Marcos Amaral</p>
                    <p id="int5" class="dnone">Alberto Angelo</p>
                    <p id="int6" class="dnone">Nossa baleia<img src="~/Assets/images/whale.svg" /></p>
                </div>

                <div class="font3">
                    <p>Orientador: Carlos Magnus Carlson Filho</p>
                    <p>Curso: Análise e Desenvolvimento de Sistemas</p>
                </div>

            </div>
        </div>

    </div>
</section>