
@{
     Layout = "~/Views/templates/templateLogin/_login.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page not found</title>
</head>
<body>
    <div class="container font-seha error">
        <div class="row">
            <div class="col-md-8">
                <p class="font-seha-big">Error 404</p>
                <p class="font-seha-title">This page cannot be found</p>
                <p>The page doesn't exists or you don't have access to this page</p>
            </div>
            <div class="col-md-4">
                <p class="font-seha-logo">SEHA</p>
            </div>
        </div> 
    </div>
</body>
</html>
