
@{
    ViewBag.Title = "SEHA - Change Password";
    //Gambiarra(?)

    if (Session["Professor"] != null)
    {
        Layout = "~/Views/templates/templateUser/_headerUser.cshtml";
    }
    else
    {
        Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
    }
}

<!-- Principal Content -->

<section id="profile">
    <div class="container-fluid">
        <div class="row">

            <form action="/default/password" method="post">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12">
                        <input name="" placeholder="Type your new password" type="password" class="form-control" id="txtPassword" style="margin: 20px 0px" />
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <button type="button" class="btn btn-danger" id="cancelPassword" style="width: 100%">Cancel</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success" id="savePassword" style="width: 100%">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
