
@{
    ViewBag.Title = "SEHA - Change Password";
    ProjectSeha.Entity.Pessoa User;
    //Gambiarra(?)

    if (Session["Professor"] != null)
    {
        User = Session["Professor"] as ProjectSeha.Entity.Pessoa;
        Layout = "~/Views/templates/templateUser/_headerUser.cshtml";
    }
    else
    {
        User = Session["Admin"] as ProjectSeha.Entity.Pessoa;
        Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
    }
}

<!-- Principal Content -->

<section id="profile">
    <div class="container-fluid">
        <div class="row">

            <form action="/default/UpdatePassword" method="post">
                <div class="col-md-6 col-md-offset-3">
                    
                    <div class="col-md-12">
                        <input name="senhaAntiga" placeholder="Type your old password" type="password" class="form-control" id="senhaAntiga" style="margin: 20px 0px" />
                    </div>

                    <div class="col-md-12">
                        <input name="senhaNova" placeholder="Type your new password" type="password" class="form-control" id="senhaNova" style="margin: 20px 0px" />
                    </div>

                    <div class="col-md-12">
                        <input name="confirmaSenha" placeholder="Confirm your new password" type="password" class="form-control" id="confirmaSenha" style="margin: 20px 0px" />
                    </div>

                    <div class="col-md-3 col-md-offset-3">
                        <button type="button" class="btn btn-danger" id="cancelPassword" style="width: 100%">Cancel</button>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-success" id="savePassword" style="width: 100%">Save</button>
                    </div>


                </div>
            </form>
        </div>
    </div>
</section>
