@model ProjectSeha.Entity.Pessoa
@{
    ViewBag.Title = "SEHA - Availability";
    Layout = "~/Views/templates/templateUser/_headerUser.cshtml";
}

<input id="ProfessorId" disabled hidden value="@Model.PessoaId" />

<div id="_Availability"></div>