@{
    ViewBag.Title = "SEHA - Steps";
    Layout = "~/Views/templateAdmin/_headerAdmin.cshtml";
}

<section id="steps">
    <div class="center-large">
        <div id="buttons-steps">

        </div>
        <div id="step1">

        </div>
        <div id="step2">
           
        </div>
        <div id="step3">
           
        </div>
    </div>
</section>
