@{
    ViewBag.Title = "SEHA - Steps";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<section id="steps">
    <div class="center-medium">

        <div id="buttons-steps">
            <button id="btn-step1" class="btn btn-seha2">Step One</button>
            <button id="btn-step2" class="btn btn-seha1">Step Two</button>
            <button id="btn-step3" class="btn btn-seha1">Step Three</button>
        </div>

        <div id="steps-content">

            <!--Step 1-->

            <div id="step1" class="step">
                <text>Professor</text>
                <input id="txt-step1-prof" class="form-group form-control" />
                <select id="select-step1-status" class="form-control">
                    <option>Waiting</option>
                    <option>Ready</option>
                </select>
                <div class="clear-filter" style="position:relative; float:right;">
                    <span class="clear-filter fa fa-2x fa-times"></span>
                </div>
                <table id="tb-step1" class="table table-bordered scroll-table">
                    <thead>
                        <tr>
                            <th id="teste">Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>João A. A. Viana</td>
                            <td>Waiting</td>
                        </tr>
                        <tr>
                            <td>Maria Fulana</td>
                            <td>Ready</td>
                        </tr>
                        <tr>
                            <td>Jorge Carlos</td>
                            <td>Ready</td>
                        </tr>
                        <tr>
                            <td>Antonio João</td>
                            <td>Waiting</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--Step 2-->

            <div id="step2" class="step">
                <text>Professor</text>
                <input id="txt-step2-prof" class="form-group form-control" />
                <select id="select-step2-status" class="form-control">
                    <option>Waiting</option>
                    <option>Ready</option>
                </select>
                <div class="clear-filter">
                    <span class="clear-filter fa fa-2x fa-times"></span>
                </div>
                <div class="scroll-table">
                    <table id="tb-step2" class="table table-bordered scroll-table">
                        <thead>
                            <tr>
                                <th id="teste">Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Maria Fulana</td>
                                <td>Ready</td>
                            </tr>
                            <tr>
                                <td>Jorge Carlos</td>
                                <td>Ready</td>
                            </tr>
                            <tr>
                                <td>João A. A. Viana</td>
                                <td>Waiting</td>
                            </tr>
                            <tr>
                                <td>Gilberto Tal</td>
                                <td>Ready</td>
                            </tr>
                            <tr>
                                <td>Zidane Gaúcho</td>
                                <td>Ready</td>
                            </tr>
                            <tr>
                                <td>Gulliver</td>
                                <td>Waiting</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="finish-step">
                    <button id="btn-finish" class="btn btn-seha1">Finish Editions</button>
                </div>

                <div class="disp-step disp-content center-large box-seha">
                    <p id="p-disp-step2" class="font-seha font-seha-info">Professor</p>

                    <!-- Slots -->

                    <div class="slots font-seha">

                        <!-- Slots hours -->

                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Hours</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>7:40 to 9:20</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>9:30 to 11:10</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>11:20 to 13:00</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>13:10 to 14:50</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>15:00 to 16:40</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>16:50 to 18:30</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>19:00 to 20:40</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>20:50 to 22:30</p>
                            </div>
                        </div>

                        <!-- Slots Monday -->

                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Monday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                        <!-- Slots Tuesday -->

                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Tuesday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                        <!-- Slots Wednesday -->

                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Wednesday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                        <!-- Slots Thursday -->

                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Thursday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                        <!-- Slots Friday -->

                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Friday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                        <!-- Slots Saturday -->

                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Saturday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                    </div>

                    <!-- /Slots -->
                    <!-- Slots buttons -->

                    <div class="slots-tools">
                        <button class="btn slots-tbutton" id="available">Available</button>
                        <button class="btn slots-tbutton" id="maybe">Maybe</button>
                        <button class="btn slots-tbutton" id="eraser">Eraser</button>
                    </div>

                    <div class="slots-buttons">
                        <button class="btn slots-save">Save</button>
                        <button class="btn slots-clear">Clear</button>
                    </div>

                    <!-- /Slots buttons -->
                    <!-- Slots bar -->

                    <div class="bar-info">
                        <p>Great - 150%</p>
                        <p id="bar-good">Good - 100%</p>
                    </div>
                    <div class="slots-bar">
                        <div class="bar-fill">
                        </div>
                    </div>

                    <!-- /Slots bar -->

                    <div class="observation">
                        <textarea placeholder="Write your observations..."></textarea>
                    </div>
                </div>
            </div>

            <!--Step 3-->

            <div id="step3" class="step center-large">

                <div>
                    <select id="select-step3-course" class="form-control">
                        <option>Análise e Desenvolvimento de Sistemas</option>
                        <option>Agronegócio</option>
                        <option>Informática para Negócios</option>
                    </select>
                    <select id="select-step3-semester" class="form-control">
                        <option>1st Semester</option>
                        <option>2st Semester</option>
                        <option>3st Semester</option>
                        <option>4st Semester</option>
                        <option>5st Semester</option>
                        <option>6st Semester</option>
                    </select>
                    <select id="select-step3-period" class="form-control">
                        <option>Morning</option>
                        <option>Afternoon</option>
                        <option>Evening</option>
                    </select>
                </div>
                

                <!--
                <div class="box-seha">
                    <p id="step3-result" class="font-seha font-seha-info">Análise e Desenvolvimento - 1º Semestre - Manhã</p>

                    <div class="slots font-seha">

                       
                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Hours</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>13:10 to 14:00</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>14:00 to 14:50</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>15:00 to 15:50</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>15:50 to 16:40</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>16:50 to 17:40</p>
                            </div>
                            <div class="slots-content desactive">
                                <p>17:40 to 18:30</p>
                            </div>
                        </div>

                      

                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Monday</p>
                            </div>
                            <div class="slots-content">
                                <p style="text-align:center">20:50 to 22:30</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                       
                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Tuesday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                      
                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Wednesday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                  
                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Thursday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                       
                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Friday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                       
                        <div class="slots-left">
                            <div class="slots-content desactive">
                                <p>Saturday</p>
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                            <div class="slots-content">
                            </div>
                        </div>

                    </div>

               

            </div>
            -->


                <table id="tb-step3" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Hours</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>13:10 to 14:50</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td></td>
                            <td><p>LP</p><p>Valeria</p></td>
                        </tr>
                        <tr>
                            <td>15:00 to 15:50</td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>15:50 to 16:40</td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>16:50 to 17:40</td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>17:40 to 18:30</td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td><p>LP</p><p>Valeria</p></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button id="btn-step3-export" class="btn btn-seha1">Export to PDF</button>
                </div>
        </div>
    </div>
</section>
