@{
    ViewBag.Title = "SEHA - Steps";
    Layout = "~/Views/templateAdmin/_headerAdmin.cshtml";
}

<section id="steps">
    <div class="center-medium">
        <p class="font-info-seha">Semester in progress</p>
        <div id="buttons-steps">
            <button id="btn-step1" class="btn btn-default btn-seha2">Step One</button>
            <button id="btn-step2" class="btn btn-default btn-seha1">Step Two</button>
            <button id="btn-step3" class="btn btn-default btn-seha1">Step Three</button>
        </div>
        <div id="steps-content">
            <div class="step">
                <text>Professor</text>
                <input id="txt-step1-prof" class="form-group form-control" />
                <select id="select-step-status" class="form-control">
                    <option>All</option>
                    <option>Waiting</option>
                    <option>Ready</option>
                </select>
                <table id="tb-step1" class="table table-bordered">
                    <thead>
                        <tr>
                            <th id="teste">Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>João A. A. Viana</td>
                            <td>Waiting</td>
                        </tr>
                        <tr>
                            <td>Maria Fulana</td>
                            <td>Ready</td>
                        </tr>
                        <tr>
                            <td>Jorge Carlos</td>
                            <td>Ready</td>
                        </tr>
                        <tr>
                            <td>Antonio João</td>
                            <td>Waiting</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="step">
                tela2
            </div>
            <div class="step">
                tela 3
            </div>
        </div>
    </div>
</section>
