@model ProjectSeha.Entity.Professor

<div id="assignment-hours">
    <input id="QtdAulas" value="@Model.HorasAula" hidden disabled />
    <label for="lbl-aulas">Assigned hours: </label>
    <label id="lbl-aulas"><span>@Model.HorasAula</span></label>
</div>

<div id="teste" class="col-md-4"> <!--retirar id teste-->
    <select id="select-assignment-curso" class="form-control">
        <option disabled selected hidden>Programs..</option>
        @foreach (var item in ViewBag.ListCurso)//Passar por ViewModel
        {
            <option value="@item.CursoId">@item.Titulo</option>
        }
    </select>
</div>

<div id="_AssignmentCurso">

</div>

<!-- Select de período (Não utilizar no inter)
            <div class="col-md-2">
                <select id="select-assignment-turno" class="form-control">
                    <option disabled selected hidden>Period..</option>
                    <option>Morning</option>
                    <option>Afternoon</option>
                    <option>Evening</option>
                </select>
            </div>
-->




