
@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";

}
<section id="assignment">
    <div class="container">
        <div class="form-group">
            <div class="margin-15">
                <input placeholder="Professor" type="text" class="form-control" id="txt-professor-assignment"/>
            </div>
            <div class="margin-15">
                <label for="lblQuantidadeHoraAtribuida">Assigned hours: </label>
                <label id="lblQuantidadeHoraAtribuida"><span>16</span></label>
            </div>
            <div class="col-md-4">
                <select id="slcCurso" class="form-control">
                    <option>Courses: </option>
                    <option>Análise e Desenvolvimento de Sistemas</option>
                    <option>Informática para Negócios</option>
                    <option>Agronegócios</option>
                </select>
            </div>
            <div class="col-md-2">
                <select id="slcTurno" class="form-control">
                    <option>Period: </option>
                    <option>Morning</option>
                    <option>Afternoon</option>
                    <option>Evening</option>
                </select>
            </div>

        </div>

        <table id="tbAssignment" class="table table-bordered">
            @foreach (var semestre in ViewBag.DadosTabelaDinamica.semestres)
            {
                <tbody>
                    <tr>
                        <td>@semestre.semestreNome</td>
                        @foreach (var disciplina in semestre.disciplinas)
                        {
                            <td>
                                <input type="checkbox" />
                                @disciplina.siglaDescricao
                            </td>
                        }
                    </tr>
                </tbody>
            }
        </table>
        <button id="btn-save-assignment" class="btn btn-seha2">Save</button>
        <button id="btn-cancel-assignment" class="btn btn-seha1">Cancel</button>
    </div>
</section>
