@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";

}

<h3 class="font-seha left">Assignments</h3>

<div id="assignment" class="container">
    <div class="assignment">
        <div class="form-group">

            <select id="select-assignment-professor" class="form-control">
                <option disabled selected hidden>Professors..</option>
                @foreach (var item in ViewBag.ListProfessor)//Passar por ViewModel
                {
                    <option value="@item.PessoaId">@item.Nome</option>
                }
            </select>

            <div id="_AssignmentProfessor">

            </div>

        </div>

    </div>
</div>

