
@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
   
}

<table>
    @foreach (var semestre in ViewBag.DadosTabelaDinamica.semestres)
    {
        <thead>@semestre.semestreId</thead>
        <tr>
            @foreach (var disciplina in semestre.disciplinas)
            {
                <td>@disciplina.siglaDescricao</td>
            }
        </tr>
    }
</table>