
@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
   
}

<table class="table table-bordered">
    @foreach (var semestre in ViewBag.DadosTabelaDinamica.semestres)
    {

        <tbody>
            <tr>
                <td>@semestre.semestreNome</td>
                @foreach (var disciplina in semestre.disciplinas)
                {
                    <td>
                        <input type="checkbox" />
                        @disciplina.siglaDescricao
                    </td>
                }
            </tr>
        </tbody>
    }
</table>

