
@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";

}

<h3 class="font-seha" style="text-align:left">Assignments</h3>

    <div class="container" style="padding-top:30px;">
    <div class="table-grid assignment">
        <div class="form-group">
            <div>
                <input placeholder="Professor" type="text" class="form-control" id="txt-professor-assignment" />
            </div>
            <div>
                <label for="lblQuantidadeHoraAtribuida">Assigned hours: </label>
                <label id="lblQuantidadeHoraAtribuida"><span>16</span></label>
            </div>
            <div class="col-md-4">
                <select id="select-assignment-curso" class="form-control">
                    <option>Courses: </option>
                    <option>Análise e Desenvolvimento de Sistemas</option>
                    <option>Informática para Negócios</option>
                    <option>Agronegócios</option>
                </select>
            </div>
            <div class="col-md-2">
                <select id="select-assignment-turno" class="form-control">
                    <option>Period: </option>
                    <option>Morning</option>
                    <option>Afternoon</option>
                    <option>Evening</option>
                </select>
            </div>

        </div>

        <table id="tb-assignment" class="table table-bordered">
            @foreach (var semestre in ViewBag.DadosTabelaDinamica.semestres)
            {
                <tbody>
                    <tr>
                        <td>@semestre.semestreNome</td>
                        @foreach (var disciplina in semestre.disciplinas)
                        {
                            <td class="teste-otacilio">
                                <input type="checkbox" />
                                @disciplina.siglaDescricao
                            </td>
                        }
                    </tr>
                </tbody>
            }
        </table>
        <button id="btn-save-assignment" class="btn btn-seha2">Save</button>
        <button id="btn-cancel-assignment" class="btn btn-seha1">Cancel</button>
    </div>
</div>

