
@{
    ViewBag.Title = "SEHA - Availability";
    Layout = "~/Views/templateUser/_headerUser.cshtml";
}

    <!-- Principal Content -->

    <section id="availability">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="disp-content">
                        <p class="font-seha font-seha-title">Fill the blocks according to your availability</p>

                        <!-- Slots -->

                        <div class="slots font-seha">

                            <!-- Slots hours -->

                            <div class="slots-left">
                                <div class="slots-content desactive">
                                    <p>Hours</p>
                                </div>
                                <div class="slots-content desactive">
                                    <p>7:40 to 9:20</p>
                                </div>
                                <div class="slots-content desactive">
                                    <p>9:30 to 11:10</p>
                                </div>
                                <div class="slots-content desactive">
                                    <p>11:20 to 13:00</p>
                                </div>
                                <div class="slots-content desactive">
                                    <p>13:10 to 14:50</p>
                                </div>
                                <div class="slots-content desactive">
                                    <p>15:00 to 16:40</p>
                                </div>
                                <div class="slots-content desactive">
                                    <p>16:50 to 18:30</p>
                                </div>
                                <div class="slots-content desactive">
                                    <p>19:00 to 20:40</p>
                                </div>
                                <div class="slots-content desactive">
                                    <p>20:50 to 22:30</p>
                                </div>
                            </div>

                            <!-- Slots Monday -->

                            <div class="slots-left">
                                <div class="slots-content desactive">
                                    <p>Monday</p>
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                            </div>

                            <!-- Slots Tuesday -->

                            <div class="slots-left">
                                <div class="slots-content desactive">
                                    <p>Tuesday</p>
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                            </div>

                            <!-- Slots Wednesday -->

                            <div class="slots-left">
                                <div class="slots-content desactive">
                                    <p>Wednesday</p>
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                            </div>

                            <!-- Slots Thursday -->

                            <div class="slots-left">
                                <div class="slots-content desactive">
                                    <p>Thursday</p>
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                            </div>

                            <!-- Slots Friday -->

                            <div class="slots-left">
                                <div class="slots-content desactive">
                                    <p>Friday</p>
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                            </div>

                            <!-- Slots Saturday -->

                            <div class="slots-left">
                                <div class="slots-content desactive">
                                    <p>Saturday</p>
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                                <div class="slots-content">
                                </div>
                            </div>

                        </div>

                        <!-- /Slots -->
                        <!-- Slots buttons -->

                        <div class="slots-tools">
                            <button class="btn slots-tbutton" id="available">Available</button>
                            <button class="btn slots-tbutton" id="maybe">Maybe</button>
                            <button class="btn slots-tbutton" id="eraser">Eraser</button>
                        </div>

                        <div class="slots-buttons">
                            <button class="btn slots-save">Save</button>
                            <button class="btn slots-clear">Clear</button>
                        </div>

                        <!-- /Slots buttons -->
                        <!-- Slots bar -->

                        <div class="bar-info">
                            <p>Great - 150%</p>
                            <p id="bar-good">Good - 100%</p>
                        </div>
                        <div class="slots-bar">
                            <div class="bar-fill">
                            </div>
                        </div>

                        <!-- /Slots bar -->

                        <div class="observation">
                            <textarea placeholder="Write your observations..."></textarea>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
