/*Componentes nas cores SEHA*/
.btn-seha1{
    color: white;
    background-color: #607D8B;
    transition: all 0.5s;
}
.btn-seha1:hover{
    color: white;
    background-color: #90A4AE;
}
.btn-seha1:focus{
    color: white;
    background-color: #607D8B;
}

.btn-seha2{
    color: white;
    background-color: #FF8A65;
    transition: all 0.5s;
}
.btn-seha2:hover{
    color: white;
    background-color: #FFAB91;
}
.btn-seha2:focus{
    color: white;
    background-color: #FF8A65;
}

.box-seha{
	padding-bottom:50px;
    padding-left:50px;
    padding-right:50px;
	border-style: solid;
	border-width: 3px;
	border-color: #607D8B;
    border-radius: 10px;
}

.font-seha {
    color:#777;
    text-align:center;
}

.font-seha-info{
    font-size:18px;
}

.font-seha-title{
    font-size:24px;
}

.font-seha-big{
    font-size:36px;
}


/* Aqui colocamos nosso próprio css */
html, body, main {
    height: 100%;
    background-color: #f7f7f7;
}
#allPages {
	margin-top: 100px;
}

/*Header*/
.navbar-background{
    background-color: #607D8B;
}

.navbar-items {
	font-size: 15px;
	text-transform: uppercase;
}

.nav.navbar-nav.navbar-right {
	padding-right: 20px;
	padding-top: 8px;
}

.nav.navbar-nav.navbar-right a {
    margin-right: 7px;
    margin-left: 7px;
    color:white;
    transition: all 0.3s;
}

.nav.navbar-nav.navbar-right a:hover {
    background-color: white;
    color: #607D8B;  
    border-radius: 100px;
    padding-bottom:10px;
    padding-top:10px;
}

.nav.navbar-nav.navbar-right a:focus {
    color: #B0BEC5; 
}

.logo-nav {
	float: left;
	font-size: 25px;
	padding: 15px;
	font-weight: 600;
}

.logo-nav a {
	color: white;
	opacity: 0.6;
}

.logo-nav a:hover {
	opacity: 1;
	text-decoration: none;
}

/*View Aviability*/
p.font-seha{
    margin-bottom:50px;
}

.disp-content {
	margin-left: 20px;
	margin-right: 20px;
}

.slots {
	width: 100%;
	height: 300px;
}

.slots-left {
	float: left;
	width: 14.28%;
}

.slots-content {
	border: 1px solid;
    border-color:#949494;
	height: 40px;
	width: 100%;
	text-align: center;
}

.slots-content p {
	font-size: 15px;
	padding-top: 8px;
}

.slots-tools {
	float: left;
	height: 40px;
	width: 50%;
	margin-top: 20px;
    padding-left: 15px;
}

.slots-tbutton {
	opacity: 0.5;
	text-align: center;
    padding: 5px 15px;
    font-weight: 700;
    transition: all 0.5s;
}

.slots-save {
	text-align: center;
    padding: 5px 20px;	
    float: right;
    background-color: #7cbf7f;
    color: white;
    font-weight: 700;
    transition: all 0.5s;
}
.slots-save:hover {
    color: white;
    background-color: #92de95;
}
.slots-save:focus {
    color: white;
    background-color: #7cbf7f;
}

.slots-clear {
	text-align: center;
    padding: 5px 20px;	
    float: right;
    background-color: #e66161;
    color: white;
    margin-right: 20px;
    font-weight: 700;
    transition: all 0.5s;
}
.slots-clear:hover {
    color: white;
    background-color: #ff9090;
}
.slots-clear:focus {
    color: white;
    background-color: #e66161;
}

.slots-buttons {
	float: right;
	height: 40px;
	width: 50%;
	margin-top: 20px;
}

.desactive {
	background-color: transparent!important;
    border: 0!important;
}

#available {
	background-color: #00897B;
    color:white;
	opacity: 1;
}
#available:hover {
	background-color: #26A69A;
}

#maybe {
	background-color: #FF8F00;
    color:white;
}
#maybe:hover {
	background-color: #FFAB40;   
}

#eraser {
	background-color: #FFF;
    border: 2px solid;
    border-color:#989898;
    color:#989898;
}
#eraser:hover {
	background-color: #e8e8e8;
}

.slots-bar {
	position: relative;
	float: left;
	height: 40px;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: #f5f2f2;
}

.bar-fill {
	position: absolute;
	float: left;
	height: 38px;
	width: 0px;
	border: 0;
	background-color: #4DB6AC;
}

.bar-info {
	position: relative;
	float: right;
	margin-top: 30px;	
}

.bar-info p {
	float: right;
}

#bar-good {
 	position:relative; 
 	right: 200px;
 }
 
 .observation {
 	position: relative;
 	float: left;
 	padding-top: 30px;
 	width: 100%;
 }
 
 .observation textarea {
 	width: 100%;
 	height: 150px;
 	max-width: 100%;
 }

 /*View Login*/
 #login-view .login-div {
    background-color: #aaa;
    width: 33%;
    height: 270px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 20px;
 }

 #login-view .title {
     font-weight: bold;
     margin-top: 0;
     text-align: center;
 }

 #login-view button {
     width: 50%;
 }

 #login-view .login-button {
     text-align: center;
     padding-top: 5px;
 }

 /*View - Semesters*/
#buttons-semester{
    margin-top: 50px;
    text-align:center;
}

#history-semester{
    visibility:hidden;
    margin-top:70px;
    color: #666;
}

#btn-new-semester{
    margin-right:8px;
}

 /*View - Steps*/
 #buttons-steps{
     margin-top:30px;
     text-align:center;
     position:relative;
 }
 #buttons-steps #btn-step1{
      float:left;
 }
 #buttons-steps #btn-step3{
     float:right;
 }
 .step {
    display: none;
}
 #steps-content{
     margin-top:50px;
     height:100%;
     width:100%;
 }
 .step input{
     display:inline-table;
     width:504px;
     height:30px;
 }
 .step select{
     display:inline-table;
     width:200px;
     height:31px;
 }
 .step table{
     background-color:#fff;
     margin-bottom:30px;
 }
 .step table tbody tr:hover{
     cursor: default;
     background-color:#dcdcdc;
 }
 .step table thead{
    background-color: #607d8b;
    color: white;
 }
 .scroll-table{
    width:800px;
 }
 .scroll-table tbody td,
 .scroll-table thead th{
    width:580px;
 }
 .scroll-table thead th:last-child {
    width: 229px;
 }
 .scroll-table tbody td:last-child {
    width: 212px; 
 }
 .scroll-table tbody{
    max-height:220px;  
    overflow-y:scroll;
 }
 .scroll-table tbody,
 .scroll-table thead tr {
      display: block;
 }
 .clear-filter{
      color: #9a9a9a;
      position:relative;
      float:right;
 }
 .clear-filter:hover{
      color: #b7b7b7;
 }
 .disp-step {
     display:none;
 }
 .disp-step .font-seha-info {
     padding-top:30px;
     margin-bottom:30px;
 }
 .finish-step{
     text-align:center;
 }

 /*Step 3*/
 #step3 .slots{
     height:330px;
 }
 #step3 .box-seha{
     padding-bottom:100px;
 }
 #step3 .box-seha p{
     padding-top:20px;
     margin-bottom:10px;
 }
 #step3 button{
     float:right;
 }

 #step3 div:nth-child(1){
   margin-bottom:20px;
 }
 #step3 select{
     width:140px;
     margin-right:15px;
 }
    
 #select-step3-course{
     width:300px !important;
 }

 /*TABELA STEP 3*/
 #tb-step3{
     margin-top:30px;
     color: #777;
     border:2px solid;
 }

 #step3 table thead{
     text-align:center;
     color: #777;
     border:0px;
     background-color:transparent;  
 }
 #step3 table thead th{
     border:0px;
     text-align:center;
 }
  #step3 table tbody td:nth-child(1){
     padding-top:20px;
     border:0px;
 }
 #step3 table tbody tr{
     height: 57px;
     text-align:center;
 }
 #step3 table tbody tr:hover{
     background-color:transparent; 
 }
  #step3 table tbody tr p{
      margin:0px;
 }
 /*FIM TABELA STEP 3*/

/*Centralização para div's simples (não responsível)*/
.center-large{
    left:50%;
    position:absolute;
    width:1080px;
    margin-left:-540px;
}
.center-medium{
    left:50%;
    position:absolute;
    width:800px;
    margin-left:-400px;
}
.center-small{
    left:50%;
    position:absolute;
    width:500px;
    margin-left:-250px;
}
/*View - About*/
.font1 {
    font-size:40px;
}

.font2{
    font-size:20px;
}

.font3{
    font-size:25px;
}

#about {
    text-align: center;
}

