/* Aqui colocamos nosso próprio css */
html, body, main {
    height: 100%;
}

.navbar-items {
	font-size: 18px;
	text-transform: uppercase;
}

.nav.navbar-nav.navbar-right {
	padding-right: 20px;
	padding-top: 8px;
}

.logo-nav {
	float: left;
	font-size: 25px;
	padding: 15px;
	font-weight: 600;
}

.logo-nav a {
	color: blue;
	opacity: 0.6;
}

.logo-nav a:hover {
	opacity: 1;
	text-decoration: none;
}

.disp-box {
	background-color: #e6e3e3;
	padding-bottom: 30px;
	border-style: solid;
	border-width: 15px;
	border-color: #2b78e4;
}

.disp-content {
	margin-left: 20px;
	margin-right: 20px;
}

.disp-content h2 {
	margin-top: 15px;
    text-align: center;
 	padding-bottom: 10px;
}

#availability {
	margin-top: 100px;
}

.slots {
	width: 100%;
	height: 300px;
}

.slots-left {
	float: left;
	width: 14.28%;
}

.slots-content {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
	height: 40px;
	width: 100%;
	text-align: center;
}

.slots-content p {
	font-size: 18px;
	padding-top: 8px;
}

.slots-tools {
	float: left;
	height: 40px;
	width: 50%;
	margin-top: 20px;
}

.slots-tbutton {
	opacity: 0.5;
	text-align: center;
    border-radius: 8px;
    padding: 5px 15px;
    font-weight: 700;
}

.slots-save {
	text-align: center;
    border-radius: 8px;
    padding: 5px 20px;
    font-weight: 700;	
    float: right;
    background-color: #5cb85c;
    color: white;
}

.slots-clear {
	text-align: center;
    border-radius: 8px;
    padding: 5px 20px;
    font-weight: 700;	
    float: right;
    background-color: #d9534f;
    color: white;
    margin-right: 20px;
}

.slots-buttons {
	float: right;
	height: 40px;
	width: 50%;
	margin-top: 20px;
}

.desactive {
	background-color: transparent!important;
    border: 0!important;
}

#available {
	background-color: #7cfc00;
	opacity: 1;
}

#maybe {
	background-color: #ffbf00;
}

#eraser {
	background-color: #FFF;
}

.slots-bar {
	position: relative;
	float: left;
	height: 40px;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: #f5f2f2;
}

.bar-fill {
	position: absolute;
	float: left;
	height: 38px;
	width: 0px;
	border: 0;
	background-color: #7cfc00;
}

.bar-info {
	position: relative;
	float: right;
	margin-top: 30px;	
}

.bar-info p {
	float: right;
}

#bar-good {
 	position:relative; 
 	right: 200px;
 }
 
 .observation {
 	position: relative;
 	float: left;
 	padding-top: 30px;
 	width: 100%;
 }
 
 .observation textarea {
 	width: 100%;
 	height: 150px;
 	max-width: 100%;
 }

 #login-view .login-div {
    background-color: #aaa;
    width: 33%;
    height: 270px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 20px;
 }

 #login-view .title {
     font-weight: bold;
     margin-top: 0;
     text-align: center;
 }

 #login-view button {
     width: 50%;
 }

 #login-view .login-button {
     text-align: center;
     padding-top: 5px;
 }