
@{
    ViewBag.Title = "SEHA - Semesters";
    Layout = "~/Views/templateAdmin/_headerAdmin.cshtml";
}

<section id="semesters">
    <div class="center-small box-seha">
        <p class="view-title-seha";>Semesters history</p>
        <select id="select-semester" class="form-control" size="7">
            <option>2015.2</option>
            <option>2015.1</option>
        </select>
        <div id="buttons-semester">
            <button id="btn-new-semester" class="btn btn-default btn-seha1">New Semester</button>
            <button id="btn-delete-semester" class="btn btn-danger disabled">Delete</button>
        </div>
    </div>
</section>