
@{
    ViewBag.Title = "SEHA - Semesters";
    Layout = "~/Views/template/_header.cshtml";
}

<section id="semesters" style="margin-top: 100px;"> <!--Arrumar no header-->
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>Semesters history</h3>
                <select id="selectSemester" class="form-control" size="7">
                    <option>2015.2</option>
                    <option>2015.1</option>
                </select>

                <div id="buttonsSemester">
                    <button class="btn btn-default" id="btnNewSemester">New Semester</button>
                    <button class="btn btn-danger disabled" id="btnDeleteSemester">Delete</button>
                </div>
            </div>
        </div>
    </div>
   
</section>