
@{
    ViewBag.Title = "SEHA - Semesters";
    Layout = "~/Views/templateUser/_headerUser.cshtml";
}

<section id="semesters">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h3>Semesters history</h3>
                <select id="select-semester" class="form-control" size="7">
                    <option>2015.2</option>
                    <option>2015.1</option>
                </select>

                <div id="buttons-semester">
                    <button class="btn btn-default" id="btn-new-semester">New Semester</button>
                    <button class="btn btn-danger disabled" id="btn-delete-semester">Delete</button>
                </div>
            </div>
        </div>
    </div>   
</section>