
@{
    ViewBag.Title = "SEHA - Semesters";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<section id="semesters">
    <div class="center-small">
        <p class="font-seha font-seha-info">There is no sesmestre in progress.</p>
        <div id="buttons-semester">
            <a href="http://localhost:52745/steps/steps/"><button id="btn-new-semester" class="btn btn-default btn-seha2">New Semester</button></a>
            <button id="btn-show-semester" class="btn btn-default btn-seha1">Show History</button>
        </div>
        <div id="history-semester">
            <p>Choose one:</p>
            <select id="select-semester" class="form-control" size="7">
                <option>2015.2</option>
                <option>2015.1</option>
            </select>
        </div>        
    </div>
</section>