
@{
    ViewBag.Title = "SEHA - Register Professor";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<h3 class="font-seha left">Register Professor</h3>

<div id="professor" class="container">
    <form class="font-seha" action="/professors/create" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" id="nameProfessor" name="Nome" class="form-control" />
        </div>

        <div class="form-group">
            <label>Nickname</label>
            <input type="text" name="NomeGuerra" class="form-control" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" name="Email" class="form-control" />
        </div>

        <div class="checkbox">
            <label><input type="checkbox" name="ProfessorExiste" checked />Existing Professor</label>
        </div>

        <div id="professor-buttons">
            <a class="btn btn-seha1" href="/professors/index">
                Cancel
            </a>
            <button class="btn btn-seha2" type="submit">
                Save
            </button>
        </div>
    </form>
</div>

