
@{
    ViewBag.Title = "SEHA - Professors";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<h3 class="font-seha" style="text-align:left">Professors</h3>

<div class="container" style="padding-top:30px;">
    <div class="table-seha prof">
        <input class="form-group form-control" placeholder="Search Professor" />

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Existente</th>
                    <th>Ativo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>João A. A. Viana</td>
                    <td>Sim</td>
                    <td>Não</td>
                    <td>
                        <div>
                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mariana Silva</td>
                    <td>Sim</td>
                    <td>Sim</td>
                    <td>
                        <div>
                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>


                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Souza de Souza</td>
                    <td>Não</td>
                    <td>Sim</td>
                    <td>
                        <div>
                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>


                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Souza de Souza</td>
                    <td>Não</td>
                    <td>Sim</td>
                    <td>
                        <div>
                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>


                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Souza de Souza</td>
                    <td>Não</td>
                    <td>Sim</td>
                    <td>
                        <div>
                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>


                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Souza de Souza</td>
                    <td>Não</td>
                    <td>Sim</td>
                    <td>
                        <div>
                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>


                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Souza de Souza</td>
                    <td>Não</td>
                    <td>Sim</td>
                    <td>
                        <div>
                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>


                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Souza de Souza</td>
                    <td>Não</td>
                    <td>Sim</td>
                    <td>
                        <div>
                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>


                            <a class="" style="margin-left:5px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <a style="margin-top:20px;" class="btn btn-seha2" href="/professors/create">
            New Professor
        </a>
    </div>
</div>







