
@{
    ViewBag.Title = "SEHA - Professors";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}


<div class="row">
   


        <form action="/professors/create" method="post">
            <div class="input-group">
                <span class="input-group-addon">Name of professor</span>
                <input type="text" name="Nome" class="form-control form-group" />
            </div>

            <div class="input-group">
                <span class="input-group-addon">Email</span>
                <input type="text" name="Email" class="form-control form-group" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">Password</span>
                <input type="text" name="Senha" class="form-control form-group" />
            </div>

            <div class="input-group">
                <span class="input-group-addon">Nickname</span>
                <input type="text" class="form-control form-group" />
                <span class="input-group-addon">Existing Professor
                    <input type="checkbox"/>
                </span>
                <span class="input-group-addon">Active Professor
                    <input type="checkbox"/>
                </span>
            </div>

            <div style="padding-top:10px; padding-bottom:10px;"> <!--arrumar css-->
                <button class="btn btn-seha2" type="submit">Save</button>
            </div>
        </form>

        
        <div class="panel panel-default">
            <!-- Default panel contents -->
            
            <!-- Table -->
            <table class="table prof-table">
                <tr class="col-table">
                    <th>Professor name</th>
                    <th>Professional name</th>
                </tr>

                <tr class="col-table">
                    <td>José A. A. Viana</td>
                    <td>Viana</td>
                </tr>

                <tr class="col-table">
                    <td>Sérgio Ricardo Borges Júnior </td>
                    <td>Sérgio</td>
                </tr>

                <tr class="col-table">
                    <td>Edes Garcia da Costa Filho</td>
                    <td>Edes</td>
                </tr>

                <tr class="col-table">
                    <td>Antônio Afonso Cortezi</td>
                    <td>Cortezi</td>
                </tr>

                <tr class="col-table">
                    <td>Carlos Magnus Carlson Filho</td>
                    <td>Carlos</td>
                </tr>    
            </table>
            <div class="btn-group- btn-seha1:hover align-btn" role="group" aria-label="...">
                <button type="button" class="btn btn-default">New</button>
                <button type="button" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default">Remove</button>
            </div>
        </div>
    </div>
</div>






