
@{
    ViewBag.Title = "SEHA - Profile";
    Layout = "~/Views/templates/templateUser/_headerUser.cshtml";
}

<!-- Principal Content -->

<section id="profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</section>
