<!DOCTYPE HTML>
<html lang="pt">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:locale" content="pt_BR">
	<meta property="og:title" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">

	<meta property="og:image" content="">
	<meta property="og:image:type" content="image/jpeg">
	<meta property="og:image:width" content="500">
	<meta property="og:image:height" content="346">

	<meta name="theme-color" content="#95ce27"/>

	<link href="" rel="apple-touch-icon" />
	<link href="" rel="apple-touch-icon" sizes="76x76" />
	<link href="" rel="apple-touch-icon" sizes="120x120" />
	<link href="" rel="apple-touch-icon" sizes="152x152" />
	<link href="" rel="apple-touch-icon" sizes="180x180" />
	<link href="" rel="icon" sizes="192x192" />
	<link href="" rel="icon" sizes="128x128" />
	<link href="" rel="icon" sizes="16x16" />

	<title>SEHA - Disponibilidade</title> 

	<!-- ************************ CSS Files ************************ -->

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400" rel="stylesheet" type="text/css">

	<!-- Custom Style -->
	<link rel="stylesheet" type="text/css" href="../assets/css/my-style.css">

</head>

<body>

	<!-- Page Content -->

	<!-- Navbar -->

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        	<div class="logo-nav">
        		<a href="#">SEHA</a>
        	</div>
        	<ul class="nav navbar-nav navbar-right">
        		<li>
        			<a class="page-scroll navbar-items" href="#">Home</a>
        		</li>
        		<li>
        			<a class="page-scroll navbar-items" href="#">Availability</a>
        		</li>
        		<li>
        			<a class="page-scroll navbar-items" href="#">About</a>
        		</li>
            </ul>
        </div>
    </nav>

    <!-- Principal Content -->

    <section id="disponibilidade">
    	<div class="container-fluid">
    		<row>
    			<div class="col-md-1">
    			</div>
    			<div class="col-md-10 disp-box">
    				<div class="disp-content">
    					<h2>Fill the blocks according to your availability</h2>

    					<!-- Slots -->

    					<div class="slots">
    						
    						<!-- Slots hours -->

    						<div class="slots-left">
    							<div class="slots-content desactive">
    								<p>Hours</p>
    							</div>
    							<div class="slots-content desactive">
    								<p>7:40 às 9:20</p>
    							</div>
    							<div class="slots-content desactive">
    								<p>9:30 às 11:10</p>
    							</div>
    							<div class="slots-content desactive">
    								<p>11:20 às 13:00</p>
    							</div>
    							<div class="slots-content desactive">
    								<p>13:10 às 14:50</p>
    							</div>
    							<div class="slots-content desactive">
    								<p>15:00 às 16:40</p>
    							</div>
    							<div class="slots-content desactive">
    								<p>16:50 às 18:30</p>
    							</div>
    							<div class="slots-content desactive">
    								<p>19:00 às 20:40</p>
    							</div>
    							<div class="slots-content desactive">
    								<p>20:50 às 22:30</p>
    							</div>
    						</div>

    						<!-- Slots Monday -->

    						<div class="slots-left">
    							<div class="slots-content desactive">
    								<p>Monday</p>
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    						</div>

    						<!-- Slots Tuesday -->

    						<div class="slots-left">
    							<div class="slots-content desactive">
    								<p>Tuesday</p>
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    						</div>

    						<!-- Slots Wednesday -->

    						<div class="slots-left">
    							<div class="slots-content desactive">
    								<p>Wednesday</p>
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    						</div>

    						<!-- Slots Thursday -->

    						<div class="slots-left">
    							<div class="slots-content desactive">
    								<p>Thursday</p>
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    						</div>

    						<!-- Slots Friday -->

    						<div class="slots-left">
    							<div class="slots-content desactive">
    								<p>Friday</p>
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    						</div>

    						<!-- Slots Saturday -->

    						<div class="slots-left">
    							<div class="slots-content desactive">
    								<p>Saturday</p>
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    							<div class="slots-content">
    							</div>
    						</div>

    					</div>

    					<!-- /Slots -->

    					<!-- Slots buttons -->

    					<div class="slots-tools">
    						<button class="slots-tbutton" id="available">Available</button>
    						<button class="slots-tbutton" id="maybe">Maybe</button>
    						<button class="slots-tbutton" id="eraser">Eraser</button>
    					</div>

    					<div class="slots-buttons">
    						<button class="slots-save">Save</button>
    						<button class="slots-clear">Clear</button>
    					</div>

    					<!-- /Slots buttons -->

    					<div class="slots-bar">
    						<div class="bar-fill">
    						</div>
    					</div>

    				</div>
    			</div>
    			<div class="col-md-1">
    			</div>
    		</row>
    	</div>
    </section>

	<!-- ************************ JS Files ************************ -->

	<!-- jQuery -->
	<script type="text/javascript" src="../assets/js/jquery.js"></script>

	<!-- Bootstrap JS -->
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

	<!-- Custom JS -->
	<script type="text/javascript" src="../assets/js/custom.js"></script>

</body>
</html>