
@{
    ViewBag.Title = "SEHA - Login";
    Layout = "~/Views/templateUser/_blankUser.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="pt_BR">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="346">

    <meta name="theme-color" content="#95ce27" />

    <link href="" rel="apple-touch-icon" />
    <link href="" rel="apple-touch-icon" sizes="76x76" />
    <link href="" rel="apple-touch-icon" sizes="120x120" />
    <link href="" rel="apple-touch-icon" sizes="152x152" />
    <link href="" rel="apple-touch-icon" sizes="180x180" />
    <link href="" rel="icon" sizes="192x192" />
    <link href="" rel="icon" sizes="128x128" />
    <link href="" rel="icon" sizes="16x16" />

    <title>SEHA - Disponibilidade</title>

    <!-- ************************ CSS Files ************************ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400" rel="stylesheet" type="text/css">

    <!-- Custom Style -->
    <link rel="stylesheet" type="text/css" href="../assets/css/my-style.css">

</head>

<body>

    <!-- Page Content -->
    <main id="login-view" class="container">
        <div class="login-div row">
            <div class="col-xs-12">
                <h2 class="title">SEHA</h2>
                <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" class="form-control" id="usr">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <div class="login-button">
                    <button class="btn btn-seha1">Login</button>
                </div>
            </div>
        </div>
    </main>


    <!-- ************************ JS Files ************************ -->
    <!-- jQuery -->
    <script type="text/javascript" src="../assets/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="../assets/js/custom.js"></script>

</body>
</html>
