
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<style>
    .dashboard {
        margin-top: 50px;
    }
</style>

<div class="col-md-12 dashboard">
    <div class="col-md-5">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 80%">Description</th>
                    <th>QTY</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="td-data">Registered professors</td>
                        <td class="td-content">QTY</td>
                    </tr>
                    <tr>
                        <td class="td-data">Registered courses</td>
                        <td class="td-content">QTY</td>
                    </tr>
                    <tr>
                        <td class="td-data">Registered disciplines</td>
                        <td class="td-content">QTY</td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 60%">Professors</th>
                    <th>Assigned hours</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in ViewBag.Assignment)
                {
                    <tr>
                        <td class="td-data">@</td>
                        <td class="td-content"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

