
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<h3 class="font-seha left">Results</h3>

<div id="step3" class="center-large table-grid">
    <div>
        <select id="select-step3-course" class="form-control">
            @foreach (var item in ViewBag.ListCurso)
            {
                <option value="@item.CursoId">@item.Titulo</option>
            }
        </select>

        <select id="select-step3-semester" class="form-control">
            <option>1st Semester</option>
            <option>2st Semester</option>
            <option>3st Semester</option>
            <option>4st Semester</option>
            <option>5st Semester</option>
            <option>6st Semester</option>
        </select>

        <select id="select-step3-period" class="form-control">
            <option id="morning">Morning</option>
            <option id="afternoon">Afternoon</option>
            <option id="evening">Evening</option>
        </select>
    </div>
    <div id="_ResultsTurno"></div>
</div>