
@{
    ViewBag.Title = "SEHA - Semesters";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<div id="semesters">
    <div class="center-small">
        <p class="font-seha font-seha-info">There is no semesters in progress.</p>
        <div id="buttons-semester">
            <a id="btn-new-semester" class="btn btn-default btn-seha2" href="/admin/steps">New Semester</a>
            <!--<button id="btn-show-semester" class="btn btn-default btn-seha1">Show History</button>-->
        </div>
        <!--<div id="history-semester">
            <p>Choose one:</p>
            <select id="select-semester" class="form-control" size="7">
                <option>2015.2</option>
                <option>2015.1</option>
            </select>
        </div>--> 
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var l in Model)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div>
                                <a href="">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="observation">
            <textarea placeholder="Write your reminders to the professors..."></textarea>
            <button type="submit" id="btn-send-semester" class="btn btn-seha1">Send</button>
        </div>
    </div>
</div>