@{
    ViewBag.Title = "SEHA - Semesters";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<div id="semesters">
    <div class="center-small">
       
        <div id="buttons-semester">
            <a id="btn-new-semester" class="btn btn-default btn-seha2" href="/admin/steps">Current Semester</a>
        </div>
    
        <div id="lista-lembretes" class="table-seha semesters">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var l in ViewBag.ListLembrete)
                    {
                        <tr>
                            <td class="td-data">@l.Data.ToString("dd/MM/yyyy")</td>
                            <td class="td-content">@l.Conteudo</td>
                            <td class="td-excluir">
                                <div>
                                    <a href="/admin/deleteLemb/@l.LembreteId">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <form action="/admin/createLemb" method="post">
            <div class="observation">
                <textarea required autofocus name="Lembrete" placeholder="Type your reminders to the professors..."></textarea>
                <button type="submit" id="btn-send-semester" class="btn btn-seha1">Send</button>
            </div>
        </form>
    </div>

    <div class="modal-lembrete">
        <div class="col-md-4 col-md-offset-4 overlay-lemb">
            <strong><p class="dateLemb"></p></strong>
            <div class="div-contentLemb">
                <p class="contentLemb"></p>
            </div>           
            <div class="div-fecharLemb">
                <button id="fecharLemb" class="btn btn-seha2">Fechar</button>
            </div>   
        </div>
    </div>

</div>