@{
    ViewBag.Title = "SEHA - Steps";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}


<h3 class="font-seha left">Step - Availability</h3>

<div id="steps">
    <div class="steps">

        <select id="select-steps-professor" class="form-control">
            <option disabled selected hidden>Professors..</option>
            @foreach (var item in ViewBag.ListProfessor)//Passar por ViewModel
            {
                <option value="@item.PessoaId">@item.Nome</option>
            }
        </select>

        <!--Partial view para disponibilidade-->
        <div class="margin-15" id="_StepsAvailability"></div>

        <div id="btn-finish">
            <a href="/admin/results" class="margin-15 btn btn-seha2">Finish Editions</a>
        </div>

    </div>
</div>
   