<div>
    <div class="col-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Sigla</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var listaDisciplinas = ViewBag.ListaDisciplinas as IEnumerable<ProjectSeha.Entity.Disciplina>;
                    if(listaDisciplinas.Count() > 0)
                    {
                        foreach (var disciplina in ViewBag.ListaDisciplinas)
                        {
                            <tr>
                                <td> @disciplina.Sigla </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
<div class="col-md-8">
    <div id="_CreateDisciplina"></div>
    <div id="_UpdateDisciplina"></div>
</div>
</div>