<div class="col-xs-3">
    <ul class="nav nav-tabs tabs-right scroll-tabs">
        <li class="active"><a href="#create" data-toggle="tab">Disciplinas</a></li>
        @if (ViewBag.listaDisciplinas != null)
        {
            foreach (var disciplina in ViewBag.listaDisciplinas)
            {
                <li><a href="#@disciplina.Sigla" data-toggle="tab">@disciplina.Sigla</a></li>
            }
        }
    </ul>
</div>
<div class="col-xs-9">
    <div class="tab-content">
        <div class="tab-pane active" id="create">
            <div id="_CreateDisciplina">
            </div>
        </div>
        @if (ViewBag.listaDisciplinas != null)
        {
            foreach (var disciplina in ViewBag.listaDisciplinas)
            {
                <div class="tab-pane" id="@disciplina.Sigla">
                    <div id="_UpdateDisciplina">
                    </div>
                </div>
            }
        }
    </div>
</div>
