@{
    ViewBag.Title = "SEHA - Register Subjects";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}

<h3 class="font-seha left">Add subjects</h3>

@if (ViewBag.Erro != null)
{
    <div style="margin-top:15px;" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Erro
    </div>
}

<div id="courses" class="font-seha">
    <form action="/courses/AtualizarDisciplinaLista/@ViewBag.IndiceLista" method="post">
        <div class="row">
            <label>Period</label>
            <div class="form-group" style="width:150px;">
                <select id="Periodo" name="Periodo" class="form-control">
                    @{
                        if (ViewBag.Semestre == 1)
                        {
                            <option value="1" selected>First</option>
                        }
                        else
                        {
                            <option value="1">First</option>
                        }

                        if (ViewBag.Semestre == 2)
                        {
                            <option value="2" selected>Second</option>
                        }
                        else
                        {
                            <option value="2">Second</option>
                        }

                        if (ViewBag.Semestre == 3)
                        {
                            <option value="3" selected>Third</option>
                        }
                        else
                        {
                            <option value="3">Third</option>
                        }

                        if (ViewBag.Semestre == 4)
                        {
                            <option value="4" selected>Fourth</option>
                        }
                        else
                        {
                            <option value="4">Fourth</option>
                        }

                        if (ViewBag.Semestre == 5)
                        {
                            <option value="5" selected>Fifth</option>
                        }
                        else
                        {
                            <option value="5">Fifth</option>
                        }

                        if (ViewBag.Semestre == 6)
                        {
                            <option value="6" selected>Sixth</option>
                        }
                        else
                        {
                            <option value="6">Sixth</option>
                        }

                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                <label for="txtTituloDisciplina">Subject title</label>
                <input required id="txtTituloDisciplina" type="text" name="TituloDisciplina" class="form-control" size="25" value="@ViewBag.Titulo" />
            </div>
            <div class="col-xs-2 form-group">
                <label for="txtSigla">Initials</label>
                <input required maxlength="3" id="txtSigla" type="text" name="SiglaDisciplina" class="form-control" size="5" value="@ViewBag.Sigla" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="txtQtdAulasMinistradas">Number of classes</label>
                    <input required min="2" max="4" id="txtQtdAulasMinistradas" type="number" name="QtdAulasMinistradas" class="form-control" size="3" value="@ViewBag.QtdAulas" />
                </div>
            </div>
        </div>
        <div class="row">
            <div id="professor-buttons">
                <a class="btn btn-seha1" href="/courses/MenuDisciplinas">
                    Cancel
                </a>
                <button class="btn btn-seha2" id="btnAddDisciplina" type="submit">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>