@{
    ViewBag.Title = "SEHA - Register Courses";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}
<h3 class="font-seha left">Courses</h3>

<div id="courses" class="container">
    <form action="/courses/create" method="post">
        <div class="row">
            <div class="col-xs-6 form-group">
                <label for="txtTituloCurso">Title</label>
                <input id="txtTituloCurso" type="text" name="Titulo" class="form-control" size="25 " />
            </div>
        </div>
        <div class="row" style="margin-left:18px;">
            <label>Turn</label>
            <div class="form-group" style="width:200px;">
                <select name="Turno" class="form-control">
                    <option value="">Select a turn</option>
                    <option value="Morning">Morning</option>
                    <option value="Afternoon">Afternoon</option>
                    <option value="Evening">Evening</option>
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div id="_MenuDisciplinas"></div>
    </div>
    <div class="row">
        <div id="professor-buttons">
            <a class="btn btn-seha1" href="/courses/index">
                Cancel
            </a>
            <button class="btn btn-seha2" type="submit">
                Save
            </button>
        </div>
    </div>
</div>




