@model IEnumerable<ProjectSeha.Entity.Curso>
@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}
<h3 class="font-seha left">Programs</h3>

@if (ViewBag.Erro != null)
{
    <div style="margin-top:15px;" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Erro
    </div>
}


<div id="course" class="container">
    <div class="table-seha prof">
        <input class="form-group form-control search" placeholder="Search program" />

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Turn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.CursoId</td>
                        <td>@course.Titulo</td>
                        <td>@course.Turno</td>
                        <td>
                            <div>
                                <a href="/courses/delete/@course.CursoId">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-seha2" href="/courses/create">
            New Program
        </a>
    </div>
</div>






