@model IEnumerable<ProjectSeha.Entity.Curso>
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}
<h3 class="font-seha left">Courses</h3>

<div id="course" class="container">
    <div class="table-seha prof">
        <input class="form-group form-control" placeholder="Search Course" />

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Turn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.CursoId</td>
                        <td>@course.Titulo</td>
                        <td>@course.Turno</td>
                        <td>
                            <div>
                                <a href="/courses/delete/@course.CursoId">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-seha2" href="/courses/create">
            New Course
        </a>
    </div>
</div>






