@{
    ViewBag.Title = "SEHA - Register Subjects";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}
<div class="row form-group">
    <div class="">
        <ul id="nav-seha" class="nav nav-pills nav-justified thumbnail setup-panel">
            <li>
                <a>
                    <h4 class="list-group-item-heading">Program</h4>
                </a>
            </li>
            <li class="active">
                <a>
                    <h4 class="list-group-item-heading">Subjects</h4>
                </a>
            </li>
        </ul>
    </div>
</div>
<h3 class="font-seha left">Subjects information</h3>

@if (ViewBag.Erro != null)
{
    <div style="margin-top:15px;" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.Erro
    </div>
}

<div id="tbl-disciplinas">
    <div class="col-md-8 table-seha disciplinas">
        <table id="disciplinas" class="table">
            <thead>
                <tr class="tr-disable">
                    <th>#</th>
                    <th>Initials</th>
                    <th>Title</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var listaDisciplinas = Session["ListaDisciplinas"] as IEnumerable<ProjectSeha.Entity.Disciplina>;
                    if (listaDisciplinas != null)
                    {
                        int indiceLista = 0;
                        foreach (var disciplina in listaDisciplinas)
                        {
                <tr>
                    <td>@indiceLista</td>
                    <td> @disciplina.Sigla </td>
                    <td> @disciplina.Nome </td>
                    <td><a href="/courses/DeleteDisciplinaUpdate/@indiceLista"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                            indiceLista++;
                        }
                    }
                }
            </tbody>
        </table>
        <a class="btn btn-seha1" href="/courses/CriarDisciplina">
            Add Subject
        </a>
        <a id="btnSaveCourse" style="float:right; margin-left:10px;" class="btn btn-seha2 disabled" href="/courses/Atualizar">
            Save
        </a>
        <a style="float:right" class="btn btn-seha1" href="/courses/UpdateCurso">
            Back
        </a>
    </div>
</div>
