@{
    ViewBag.Title = "SEHA - Register Courses";
    Layout = "~/Views/templates/templateAdmin/_headerAdmin.cshtml";
}
<div class="row form-group">
    <div class="">
        <ul id="nav-seha" class="nav nav-pills nav-justified thumbnail setup-panel">
            <li class="active">
                <a>
                    <h4 class="list-group-item-heading">Course</h4>
                </a>
            </li>
            <li>
                <a>
                    <h4 class="list-group-item-heading">Disciplines</h4>
                </a>
            </li>
        </ul>
    </div>
</div>
<h3 class="font-seha left">Course informations</h3>

<div id="courses" class="container font-seha">
    <form action="/courses/GoToUpdateDisciplina" method="post">
        <div class="row">
            <div class="col-xs-6 form-group">
                <label for="txtTituloCurso">Title</label>
                <input id="txtTituloCurso" type="text" name="Titulo" class="form-control" size="25 " value="@ViewBag.CursoTitulo" />
            </div>
        </div>
        <div class="row">
            <label>Turn</label>
            <div class="form-group" style="width:200px;">
                <select name="Turno" class="form-control">
                    <option value="">Select a turn</option>
                    @{  if (ViewBag.CursoTurno == "Morning")
                        {
                            <option value="Morning" selected>Morning</option>
                        }
                        else
                        {
                            <option value="Morning">Morning</option>
                        }

                        if (ViewBag.CursoTurno == "Afternoon")
                        {
                            <option value="Afternoon" selected>Afternoon</option>
                        }
                        else
                        {
                            <option value="Afternoon">Afternoon</option>
                        }

                        if (ViewBag.CursoTurno == "Evening")
                        {
                            <option value="Evening" selected>Evening</option>
                        }
                        else
                        {
                            <option value="Evening">Evening</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div id="_MenuDisciplinas"></div>
        </div>
        <div class="row">
            <div id="courses-buttons">
                <a class="btn btn-seha1" href="/courses/index">
                    Cancel
                </a>
                <button class="btn btn-seha2" type="submit">
                    Next
                </button>
            </div>
        </div>
    </form>
</div>




